*{
  box-sizing: border-box;
}
body{
  background:linear-gradient(165deg,rgb(111, 110, 185),rgb(103, 92, 201)) ;
  height: 100vh;
}

/* App */
.container{
  width: 80%;
  margin: 10%;
}
h1{
  text-align: center;
  color: white;
}
/* Todolist */
.todo{
  background-color: #eee; 
}
.num , #id{
  display: inline-block;
  width: 11%;
  text-align: center;
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(24, 40, 184) ;
}
.name , #name{
  display: inline-block;
  width: 60%;
  text-align: center;
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(24, 40, 184) ;

}
.hours ,#hours{
  display: inline-block;
  width: 19%;
  text-align: center;
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(24, 40, 184) ;

} 
.action ,#act{
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
}
.bar{
  background-color: rgb(24, 40, 184);
  color: #eee;
}
p{
  text-align: center;
  margin: 0em;
  padding: 10px;
  font-size: 25px;
  color: rgb(24, 40, 184) ;

}
.todolist span.icon{
  color: red;
  cursor: pointer;
}
/* addlist */
#act{
  background-color: rgb(24, 40, 184);
  color: #ccc;
  cursor: pointer;
}
.blue{
  color: white;
}
::placeholder{
  color: rgb(24, 40, 184) ;

}